body{
    font-family: Arial, sans-serif;
    background:#f2f2f2;
    margin:0;
    padding:0;
}

.container{
    width:400px;
    margin:60px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    text-align:center;
}

h1{
    color:#007BFF;
}

input{
    width:90%;
    padding:10px;
    margin:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    width:95%;
    padding:10px;
    background:#007BFF;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#0056b3;
}

h3{
    color:green;
    margin-top:20px;
}